  nav a {
    color: #18272F;
    position: relative;
    text-decoration: none;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      border-radius: 4px;
      background-color: map-get($map: $paleta, $key: solidHl);
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }

    &:hover::before {
      transform-origin: left;
      transform: scaleX(1);
    }
  }  
  
  .btn:hover {
    transform: scale(110%);
    box-shadow: 11px 10px 33px -2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 11px 10px 33px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 11px 10px 33px -2px rgba(0, 0, 0, 0.75);
    transition: 1.5s ease;
  }
  
  footer a {
    position: relative;
    padding: 2px 0;
  
    &::after {
      content: "";
      background-color: map-get($map: $paleta, $key: solidHl);
      position: absolute;
      left: 0;
      height: 2px;
      bottom: -3px;
      width: 0%;
    }
  
    &:hover::after {
      width: 125px;
      transition: 3s;
    }
  }