header {    
    width: auto;
    height: 90vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bgi-i {
    background-image: url(https://images.pexels.com/photos/3158651/pexels-photo-3158651.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  }
  
  .bgi-h {
    background-image: url(https://images.pexels.com/photos/8468119/pexels-photo-8468119.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  }
  
  .bgi-in {
    background-image: url(https://images.pexels.com/photos/1108101/pexels-photo-1108101.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  }
  
  .bgi-m {
    background-image: url(https://images.pexels.com/photos/162568/oil-pump-jack-sunset-clouds-silhouette-162568.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  }
  
  .bgi-c {
    background-image: url(https://images.pexels.com/photos/4195332/pexels-photo-4195332.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  }
  
  header {
    div {
      border: 3px white solid;
      padding: 20px;
      background-color: map-get($map: $paleta, $key: secBgA);
    }
  
    h1 {
      @include font1 (64px, 800, Helvetica);      
      color: map-get($map: $paleta, $key: txtW);      
      text-align: center;
    }
  
    h2 {
      @include font1 (56px, 800, Helvetica);
      color: map-get($map: $paleta, $key: txtW);      
      text-align: center;      
    }
  
    p {
      color: map-get($map: $paleta, $key: txtW);
      font-size: 18px;
      text-align: center;
    }
  }